In [31]:
import pandas
import numpy as np

data = pandas.read_csv("assets/Datasets/public_transport_delays.csv")

In [32]:
data.columns

Index(['trip_id', 'date', 'time', 'transport_type', 'route_id',
       'origin_station', 'destination_station', 'scheduled_departure',
       'scheduled_arrival', 'actual_departure_delay_min',
       'actual_arrival_delay_min', 'weather_condition', 'temperature_C',
       'humidity_percent', 'wind_speed_kmh', 'precipitation_mm', 'event_type',
       'event_attendance_est', 'traffic_congestion_index', 'holiday',
       'peak_hour', 'weekday', 'season', 'delayed'],
      dtype='object')

In [33]:
reducedData[reducedData["delayed"] == 0]

,trip_id,date,time,transport_type,route_id,origin_station,destination_station,scheduled_departure,scheduled_arrival,actual_departure_delay_min,actual_arrival_delay_min,weather_condition,temperature_C,humidity_percent,wind_speed_kmh,precipitation_mm,event_type,peak_hour,delayed
0,T00000,2023-01-01,05:00:00,Tram,Route_15,Station_31,Station_6,05:02:00,05:55:00,12,3,Storm,None,NaN,None,None,NaN,1,0
2,T00002,2023-01-01,05:30:00,Bus,Route_16,Station_29,Station_42,05:33:00,06:17:00,0,0,Clear,None,NaN,None,None,Sports,0,0
5,T00005,2023-01-01,06:15:00,Metro,Route_17,Station_32,Station_40,06:15:00,06:56:00,7,4,Rain,None,NaN,None,None,Protest,0,0
9,T00009,2023-01-01,07:15:00,Train,Route_8,Station_23,Station_10,07:17:00,08:12:00,5,3,Fog,None,NaN,None,None,NaN,0,0
12,T00012,2023-01-01,08:00:00,Tram,Route_15,Station_8,Station_48,08:04:00,08:37:00,10,-1,Clear,None,NaN,None,None,Parade,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,T01973,2023-01-21,18:15:00,Metro,Route_17,Station_8,Station_40,18:17:00,18:44:00,6,0,Cloudy,None,NaN,None,None,Sports,0,0
1977,T01977,2023-01-21,19:15:00,Tram,Route_8,Station_42,Station_25,19:16:00,19:53:00,-2,-1,Cloudy,None,NaN,None,None,NaN,0,0
1984,T01984,2023-01-21,21:00:00,Train,Route_20,Station_50,Station_28,21:00:00,21:35:00,6,-3,Rain,None,NaN,None,None,NaN,1,0
1985,T01985,2023-01-21,21:15:00,Train,Route_15,Station_5,Station_9,21:18:00,21:40:00,17,2,Cloudy,None,NaN,None,None,NaN,0,0
1993,T01993,2023-01-21,23:15:00,Bus,Route_18,Station_30,Station_34,23:15:00,23:51:00,6,0,Cloudy,None,NaN,None,None,NaN,1,0

In [49]:
def corrupt(value): 
    rng = np.random.default_rng()
    randomFloat = rng.uniform(low=0.0, high=100.0)
    if randomFloat < 3.0:
        return np.nan
    else:
        return value

weatherMeasurements = [
    "temperature_C", 
    "humidity_percent",
    "wind_speed_kmh",
    "precipitation_mm",
]
for column in weatherMeasurements:
    data[column] = data[column].apply(corrupt)

In [50]:
reducedData = data[[
    "trip_id", 
    "date", 
    "time", 
    "transport_type", 
    "route_id", 
    "origin_station", 
    "destination_station", 
    "scheduled_departure", 
    "scheduled_arrival", 
    "actual_departure_delay_min",
    "actual_arrival_delay_min",
    "weather_condition",
    "temperature_C",
    "humidity_percent",
    "wind_speed_kmh",
    "precipitation_mm",
    "event_type",
    "peak_hour",
    "delayed",
]]

In [53]:
reducedData[reducedData[weatherMeasurements].isnull().sum(axis=1) > 1]

,trip_id,date,time,transport_type,route_id,origin_station,destination_station,scheduled_departure,scheduled_arrival,actual_departure_delay_min,actual_arrival_delay_min,weather_condition,temperature_C,humidity_percent,wind_speed_kmh,precipitation_mm,event_type,peak_hour,delayed
195,T00195,2023-01-03,05:45:00,Train,Route_5,Station_8,Station_4,05:47:00,06:15:00,17,23,Fog,23.8,NaN,38.0,NaN,NaN,0,1
684,T00684,2023-01-08,08:00:00,Bus,Route_7,Station_17,Station_18,08:03:00,08:22:00,5,24,Storm,NaN,NaN,40.0,15.0,NaN,1,1
957,T00957,2023-01-11,04:15:00,Bus,Route_13,Station_32,Station_3,04:19:00,04:36:00,10,12,Clear,NaN,NaN,58.0,8.6,NaN,0,1
1340,T01340,2023-01-15,04:00:00,Tram,Route_14,Station_17,Station_1,04:02:00,04:58:00,1,-1,Fog,NaN,41.0,56.0,NaN,NaN,0,0
1550,T01550,2023-01-17,08:30:00,Bus,Route_3,Station_3,Station_24,08:33:00,09:12:00,14,4,Storm,-4.3,NaN,NaN,6.6,Concert,0,0
1694,T01694,2023-01-18,20:30:00,Bus,Route_20,Station_6,Station_2,20:34:00,20:53:00,10,-1,Storm,NaN,67.0,20.0,NaN,NaN,0,0
1847,T01847,2023-01-20,10:45:00,Metro,Route_14,Station_31,Station_34,10:46:00,11:09:00,12,2,Cloudy,NaN,52.0,1.0,NaN,NaN,1,0
1913,T01913,2023-01-21,03:15:00,Train,Route_7,Station_14,Station_18,03:15:00,03:36:00,7,27,Clear,12.7,NaN,NaN,14.1,NaN,1,1